{% extends 'base.html.twig' %}
{% import 'macros/alertes.html.twig' as utils %}

{% block title %}Mot de passe oublié - Étape 2{% endblock %}

{% block body_id 'forgot_password_step_1' %}

{% block body %}
    <main id="main" class="mt-3">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-5 bg-light mt-4 p-4 d-flex justify-content-center">
                    <div class="well text-center">
                        
                         <h1 class="text-center">Mot de passe oublié - Étape 2</h1>

                        {{ form_start(forgotPasswordFormStep2) }}

                            {{ form_row(forgotPasswordFormStep2.plainPassword.pass) }}
                        
                            {{ form_row(forgotPasswordFormStep2.plainPassword.confirm) }}

                            <div class="mt-3">
                                <button type="submit" class="btn btn-primary d-block mx-auto" title="Saissiez deux fois votre nouveau mot de passe pour le mettre à jour.">
                                    Mettre à jour mon mot de passe
                                </button>
                                <br>
                                <small> Ce lien sera invalide à {{ passwordMustBeModifiedBefore }}</small>
                            </div>

                        {{ form_end(forgotPasswordFormStep2) }}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}