{% extends 'base.html.twig' %}
{% import 'macros/alertes.html.twig' as utils %}

{% block title %}Mot de passe oublié - Étape 2{% endblock %}

{% block body %}
    <main class="container mt-3">

        <h1 class="text-center">Mot de passe oublié - Étape 2</h1>

        {{ form_start(forgotPasswordFormStep2) }}

        <div class="row mt-5">
            <div class="col-md-6">
                {{ form_row(forgotPasswordFormStep2.username.first) }}
            </div>

            <div class="col-md-6">
                {{ form_row(forgotPasswordFormStep2.username.second) }}
            </div>
        </div>

            <div class="mt-5 mb-3 text-center">
                <button type="submit" class="btn btn-info mb-3" title="Saissiez deux fois le votre nouveau mot de passe pour le mettre à jour.">
                    Mettre à jour mon mot de passe
                </button>
                <br>
                <small> Ce lien sera invalide à {{ passwordMustBeModifiedBefore }}</small>
            </div>
        

        {{ form_end(forgotPasswordFormStep2) }}

    </main>
{% endblock %}