{% extends 'base.html.twig' %}
{% import 'macros/alertes.html.twig' as utils %}

{% block title %}Accueil | {{ title_page }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/dist/css/home.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/dist/js/home.js"></script>
{% endblock %}

{% block body_id 'home' %}

{% block main %}
    <!-- ======= Trick List ======= -->
    <main id="main">
        {{ no_script|raw }}

        <section class="container d-flex justify-content-center flex-column align-items-center">
            <div class="row row-cols-1 mt-5 row-cols-md-5 g-4 trick-grid">
                {{ include('/trick/index.html.twig', { paginator }) }}
            </div>

            <button type="button" class="btn btn-outline-dark mt-5 mb-5 load-more-btn">
                <span class="spinner-grow spinner-grow-lg" role="status" aria-hidden="true"></span>
                <span class="button-text">Charger plus de figures</span>
            </button>
        </section>
        <button id="toTop"><i class="fas fa-chevron-up"></i></button>
    </main>
{% endblock %}
