{% extends 'base.html.twig' %}
{% import 'macros/alertes.html.twig' as utils %}

{% block title %}Connexion{% endblock %}

{% block body %}
    {% if error %}
        {# <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div> #}
        {{ utils.alert(error.messageKey|trans(error.messageData, 'security'), 'danger') }}
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="bg-light mt-4 p-4">
                <div class="well">
                    <form action="{{ path('security_login') }}" method="post">
                        <fieldset>
                            <legend><i class="fa fa-lock" aria-hidden="true"></i> {{ 'Connexion'|trans }}</legend>
                            <div class="form-group">
                                <label for="username">{{ 'Nom d\'utilisateur' }}</label>
                                <input type="text" id="username" name="username" value="{{ last_username }}" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="password">{{ 'Mot de passe' }}</label>
                                <input type="password" id="password" name="password" class="form-control" />
                            </div>
                            {# <div class="form-check mb-3">
                                <label for="_remember_me"</label>
                                <input type="checkbox" id="_remember_me" name="_remember_me" class="form-check-input"> Se souvenir de moi
                            </div> #}
                            <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'Connexion' }}
                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}