{% for trick in paginator.results %}
    <div class="col">
        <div class="card">
            <a href="{{ path('trick_detail', {trick_slug: trick.trickSlug}) }}"
                title="Cliquer pour consulter la figure {{ trick.trickName }}"><img
                    src="/assets/images/tricks/{{ trick.trickThumbnail }}" class="card-img-top" alt=""></a>
            <div class="card-body">
                <h5 class="card-title"><a href="{{ path('trick_detail', {trick_slug: trick.trickSlug}) }}"
                        title="Cliquer pour consulter la figure {{ trick.trickName }}">{{
                        trick.trickName|u.truncate(20, '...') }}</a></h5>
            </div>
        </div>
    </div>
{% else %}
    <div class="well w-100 text-center"><p>Aucune autre figure trouvé. Pour en ajouter <a href="{{ path('app_register') }}" title="Page de création de compte" class="fw-bold">créer un compte<a href="{{ path('security_login') }}" title="Page de connexion" class="fw-bold">connectez-vous</a> !</p></div>
{% endfor %}