{% block main %}
    <main id="main">
        <div class="container d-flex justify-content-center flex-column align-items-center">
            <div class="row row-cols-1 mt-5 row-cols-md-5 g-4">
                {% for trick in paginator.results %}
                    <div class="col">
                        <div class="card">
                            <a href="{{ path('trick_detail', {trick_slug: trick.trickSlug}) }}" title="Cliquer pour consulter la figure {{ trick.trickName }}"><img src="/assets/images/tricks/{{ trick.trickThumbnail }}" class="card-img-top" alt=""></a>
                            <div class="card-body">
                                <h5 class="card-title"><a href="{{ path('trick_detail', {trick_slug: trick.trickSlug}) }}" title="Cliquer pour consulter la figure {{ trick.trickName }}">{{ trick.trickName|u.truncate(20, '...') }}</a></h5>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="well">{{ 'post.no_posts_found'|trans }}</div>
                {% endfor %}
            </div>
            <button type="button" class="btn btn-dark mt-5 mb-5 load-more-btn">
                <div class="spinner-grow text-light" role="status">
                    <span class="spinner-grow text-light">Charger plus de figures</span>
                </div>
            </button>
        </div>
    </main>
{% endblock %}
