{% extends 'admin/layout.html.twig' %}
{% import 'macros/alertes.html.twig' as utils %}

{% block title %}Modifier l'article {{ trick.id }} | {{ title_page }}{% endblock %}

{% block body_id 'trick_edit' %}

{% block main %}
    <!-- ======= Trick Edit Form ======= -->
    <main id="main" class="mt-3">
        {{ no_script|raw }}
        <script>
            Dropzone.autoDiscover = false;
            $(window).on('load', function () {
                initializeDropzone();
                $('.dz-button').text('Déposez vos fichiers ici !')
            })

            function initializeDropzone() {
                var formElement = document.querySelector('.js-reference-dropzone');
                if (!formElement) {
                    return;
                }
                var dropzone = new Dropzone(formElement, {
                    paramName: 'reference'
                });
            }
        </script>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <h3 class="text-center">Contenu principal</h3>
                <div class="bg-light mt-4 mb-4 p-4 d-flex justify-content-center">
                    <div class="well text-center">
                        {{ include('admin/trick/_form.html.twig', {
                            form: form,
                            button_label: 'Enregistrer',
                            include_back_to_home_link: true,
                        }, with_context = false) }}
                    </div>
                </div>

                <h3 class="text-center">Contenu annexe</h3>
                
                <div class="bg-light mt-4 p-4 d-flex justify-content-center">
                    <div class="well text-center">
                        <form action="{{ path('admin_trick_add_reference', {
                            id: trick.id
                        }) }}" method="POST" enctype="multipart/form-data" class="dropzone js-reference-dropzone">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('admin_trick_edit', {trick_slug: trick.TrickSlug}) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit" aria-hidden="true"></i> Modifier le contenu
        </a>
    </div>

    <div class="section">
        {{ include('admin/trick/_delete_form.html.twig', {trick: trick}, with_context = false) }}
    </div>
{% endblock %}